<!DOCTYPE html>
<html>
<head>
	<title>Desafio 1</title>
	<meta charset="utf-8">
</head>
<body>

	<h2>Index miapp</h2>
	<div>

		<a href="https://www.u-cursos.cl"> Entrar a U-Cursos </a>
	<div>

		<a href="file:///Users/catalinahurtado/Documents/TICS/Auxiliares/aux_2/auxiliar2/miapp/templates/miapp/integrantes.html"> Integrantes </a>
	<div>

		<a href="file:///Users/catalinahurtado/Documents/TICS/Auxiliares/aux_2/auxiliar2/miapp/templates/miapp/Relax.html"> Relax </a>
	<div>


	<br>
		<h6> Saludos </h6>
	
	


</body>
</html>
		
