<!DOCTYPE html>
<html>
<head>
	<title> Integrantes equipo docentes </title>
	<meta charset="utf-8">
</head>
<body>
	<h1> Integrantes equipo docente </h1>
	<div>
		<h3> Profesores </h3>
		<h6> Ángel Jiménez Molina </h6>
		<h6> Ivan Díaz Campos </h6>

	<div>

	<div>
		<h3> Profesor Auxiliar </h3>
		<h6> Javiera Ovalle </h6>
		<h6> Jorge Pinto </h6>
		<h6> José Canto </h6>
		<h6> Macarena Osorio </h6>
	<div>

	<div>
		<h3> Ayudante </h3>
		<h6> Carlos Vega </h6>
		<h6> Catalina Martin </h6>
		<h6> Eduardo Valerio </h6>
		<h6> Juan Gutierrez </h6>
		<h6> Matias Rojas </h6>
		<h6> Nicolas Villa </h6>
		<h6> Sebastian Donoso </h6>
		<h6> Sofia Herrera </h6>
		<h6> Victoria Arce </h6>
	<div>

<div>

		<a href="file:///Users/catalinahurtado/Documents/TICS/Auxiliares/aux_2/auxiliar2/miapp/templates/miapp/index_miapp.html"> Entrar Index </a>
	<div>

		<a href="file:///Users/catalinahurtado/Documents/TICS/Auxiliares/aux_2/auxiliar2/miapp/templates/miapp/Relax.html"> Entrar a opción: Relax </a>
	<div>



</body>
</html>

