<!DOCTYPE html>
<html>
<head>
	<title>Para relajarse</title>
	<meta charset="utf-8">
</head>
<body>

	<h2>Ver y escuchar este video repetidas veces </h2>

		<a href="https://www.youtube.com/watch?v=uOAvPwVojOU"> Este es el video </a>
	<br>
		<h6> Saludos </h6>
	
	
<div>

		<a href="file:///Users/catalinahurtado/Documents/TICS/Auxiliares/aux_2/auxiliar2/miapp/templates/miapp/index_miapp.html"> Entrar Index </a>
	<div>

		<a href="file:///Users/catalinahurtado/Documents/TICS/Auxiliares/aux_2/auxiliar2/miapp/templates/miapp/integrantes.html"> Entrar a integrantes </a>
	<div>

</body>
</html>
		